In [1]:
import sqlite3

conn = sqlite3.connect("student_records.db")
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER NOT NULL,
        grade TEXT NOT NULL
    )
''')
conn.commit()

cursor.execute("SELECT COUNT(*) FROM students")
if cursor.fetchone()[0] == 0:
    cursor.executemany('''
        INSERT INTO students (name, age, grade) VALUES (?, ?, ?)
    ''', [
        ("Alice", 20, "A"),
        ("Bob", 21, "B"),
        ("Charlie", 22, "A")
    ])
    conn.commit()

def display_students():
    cursor.execute("SELECT * FROM students")
    students = cursor.fetchall()
    print("\nStudent Records:")
    for student in students:
        print(f"ID: {student[0]}, Name: {student[1]}, Age: {student[2]}, Grade: {student[3]}")

display_students()

cursor.execute("UPDATE students SET age = 23 WHERE name = 'Bob'")
conn.commit()
print("\nUpdated Student Records:")
display_students()

cursor.execute("DELETE FROM students WHERE name = 'Charlie'")
conn.commit()
print("\nStudent Records After Deletion:")
display_students()

conn.close()

Student Records:
ID: 1, Name: Alice, Age: 20, Grade: A
ID: 2, Name: Bob, Age: 21, Grade: B
ID: 3, Name: Charlie, Age: 22, Grade: A

Updated Student Records:

Student Records:
ID: 1, Name: Alice, Age: 20, Grade: A
ID: 2, Name: Bob, Age: 23, Grade: B
ID: 3, Name: Charlie, Age: 22, Grade: A

Student Records After Deletion:

Student Records:
ID: 1, Name: Alice, Age: 20, Grade: A
ID: 2, Name: Bob, Age: 23, Grade: B