In [1]:
import sqlite3

In [ ]:
conn=sqlite3.connect('example.db')

cursor=conn.cursor()
cursor.execute('''Create  TABLE IF NOT EXISTS users(
               id INTEGER PRIMARY KEY AUTOINCREMENT,
               name TEXT NOT NULL,
               age INTEGER)''')
conn.commit()

In [3]:
cursor.execute("INSERT INTO users (name, age) VALUES (?,?)", ('Alice',25))
cursor.execute("INSERT INTO users (name, age) VALUES (?,?)", ('Bob',30))

In [8]:
cursor.execute("INSERT INTO users (name, age) VALUES (?,?)", ('John',45))

In [9]:
cursor.execute('SELECT * FROM users')
rows = cursor.fetchall()
for row in rows:
    print(rows)

[(1, 'Alice', 25), (2, 'Bob', 30), (3, 'John', 45)]
[(1, 'Alice', 25), (2, 'Bob', 30), (3, 'John', 45)]
[(1, 'Alice', 25), (2, 'Bob', 30), (3, 'John', 45)]

In [ ]:
import mysql.connector

In [18]:
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Mihir@2004',
    database='flexi'
)

In [19]:
conn = sqlite3.connect("shop.db")
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS products (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        price REAL NOT NULL,
        stock INTEGER NOT NULL
    )
''')
conn.commit()

cursor.execute("SELECT COUNT(*) FROM products")
if cursor.fetchone()[0] == 0:
    cursor.executemany('''
        INSERT INTO products (name, price, stock) VALUES (?, ?, ?)
    ''', [
        ("Laptop", 750.0, 5),
        ("Phone", 500.0, 10),
        ("Headphones", 80.0, 15),
        ("Smartwatch", 200.0, 8),
        ("Tablet", 300.0, 6)
    ])
    conn.commit()

def display_products():
    cursor.execute("SELECT * FROM products")
    products = cursor.fetchall()
    print("\nAvailable Products:")
    for product in products:
        print(f"ID: {product[0]}, Name: {product[1]}, Price: ${product[2]}, Stock: {product[3]}")

def add_to_cart(product_id):
    cursor.execute("SELECT stock FROM products WHERE id = ?", (product_id,))
    product = cursor.fetchone()
    if product and product[0] > 0:
        cursor.execute("UPDATE products SET stock = stock - 1 WHERE id = ?", (product_id,))
        conn.commit()
        print(f"Added Product ID {product_id} to the cart.")
    else:
        print("Product out of stock or invalid ID.")

def remove_from_cart(product_id):
    cursor.execute("UPDATE products SET stock = stock + 1 WHERE id = ?", (product_id,))
    conn.commit()
    print(f"Removed Product ID {product_id} from the cart.")

def total_bill(cart):
    total = 0
    for product_id in cart:
        cursor.execute("SELECT price FROM products WHERE id = ?", (product_id,))
        price = cursor.fetchone()
        if price:
            total += price[0]
    print(f"\nTotal Bill: ${total:.2f}")

display_products()
cart = [1, 2, 3]
for item in cart:
    add_to_cart(item)

total_bill(cart)
remove_from_cart(2)

display_products()

conn.close()

Available Products:
ID: 1, Name: Laptop, Price: $750.0, Stock: 5
ID: 2, Name: Phone, Price: $500.0, Stock: 10
ID: 3, Name: Headphones, Price: $80.0, Stock: 15
ID: 4, Name: Smartwatch, Price: $200.0, Stock: 8
ID: 5, Name: Tablet, Price: $300.0, Stock: 6
Added Product ID 1 to the cart.
Added Product ID 2 to the cart.
Added Product ID 3 to the cart.

Total Bill: $1330.00
Removed Product ID 2 from the cart.

Available Products:
ID: 1, Name: Laptop, Price: $750.0, Stock: 4
ID: 2, Name: Phone, Price: $500.0, Stock: 10
ID: 3, Name: Headphones, Price: $80.0, Stock: 14
ID: 4, Name: Smartwatch, Price: $200.0, Stock: 8
ID: 5, Name: Tablet, Price: $300.0, Stock: 6